.header {
    height: 150px;
    box-shadow: 0px 0px 14px 5px #010812;
}

body {
    background-image: url(../images/wallpaper_nologo.jpg);
    background-position: 50% 50% !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.csgo {
    background-size: cover !important;
}

p {
    color: #a0abb7;
}
h1 {
    color: #9bb0da;
}

.border-left {
    border-left: 1px solid  #2d3742;
    padding:10px;
    transition: 0.25s;
}
.border-right {
    border-right: 1px solid  #2d3742;
    padding:10px;
    transition: 0.25s;
}
.border-right:hover {
    background-color:rgba(30, 99, 204, 0.19);
    cursor: pointer;
}
.border-left:hover {
    background-color:rgba(30, 99, 204, 0.19);
    cursor: pointer;
}
.CTimg {
    background-image:url(../images/counterterrorist.jpg);
    background-position: 100% 3% !important;
    background-size: cover;
    box-shadow: 0px 0px 29px -1px black inset;

}
.ESL {
    border-top: 1px solid #2d3742;
    height: 450px;
}
.csgoCT {
    background-image:url(../images/csgocool.jpg);
    background-position: 100% 3% !important;
    background-size: cover;
    box-shadow: 0px 0px 29px -1px black inset;
}
.csgo2 {
    background-image:url(../images/csgo2.jpg);
    background-position: 100% 3% !important;
    background-size: cover;
    box-shadow: 0px 0px 29px -1px black inset;
}
.row-height{
    height: 350px;
}
.text {
    text-align: center;
}
