* {
    padding: 0;
    margin: 0;
}

html,body {
    height: 100%;
}

.col {
    min-height: 250px;
    border: 4px solid red;
}

.index > .row {
    min-height: 185px;
    border: 2px solid black;
}

.index > .row > .img {
    background-color: blue;
    
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.index > .row > .img:hover {
    transition: .25s;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    cursor: pointer;    
}


.index > .row > .info {
    background-color: red;
}

.index > .row > .img > a {
    display: block;
    width: 100%;
    height: 100%;
}
/* Eigen class hier voor game bg image */ 
.eft {
    background-image: url('../images/escape-from-tarkov-alpha-main-menu-banner.jpg');
    background-position: 50% 50% !important;
}

.ow {
	background-image: url('../images/overwatchxl.jpg');
}

.csgo {
        background-image:url("../images/csgo.jpg");
}