.img {
    background-size: cover;
    background-repeat: no-repeat;
	width:100%;
	height:255px;
}

.img4 {
    background-size: cover;
    background-repeat: no-repeat;
	width:101%;
	height:255px;
}

.img3 {
    background-size: cover;
    background-repeat: no-repeat;
	background-position: 50% 50%;
}

.header{
	height:255px;
}

.content > .row > .img > a {
    display: block;
    width: 100%;
    height: 100%;
}
.content{
	background-image: url('../images/owbg.jpg');
	height:1450px;
}
.owlogo{
	background-image: url('../images/owlogo.jpg');
}

.content > .row {
    min-height: 255px;
	padding-bottom:10px;
}
h1{
	padding: 10px;
}
.tekst{
	color: #f99e1a;
	text-align:center;
}

.header > .img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
	transition: .25s;
	border-radius: 10px;
}

.header > .img:hover {
    transition: .25s;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    cursor: pointer;  
    box-shadow: 0px 0px 25px -7px black inset;
}
#vid {
	position:absolute;
	height: 255px;
	margin-left: 30px;
	border-radius: 30px;
}
.owtank{
	background-image: url('../images/owtank.jpg');
}
.owtank:hover{
	background-image: url('../images/reinhart.jpg');
	border-radius:123px;
}
.owsupport{
	background-image: url('../images/owsupport.jpg');
}
.owsupport:hover{
	background-image: url('../images/mercy.jpg');
	border-radius:123px;
}
.owdamage{
	background-image: url('../images/owdamage.jpg');
}
.owdamage:hover{
	background-image: url('../images/tracer.jpg');
	border-radius:123px;
}
.tekstr{
	color: #f99e1a;
	text-align:right;
	padding-left:50px;
}
.tekstl{
	color: #f99e1a;
	text-align:left;
	padding-right:50px;
}

.l{
	min-height:300px;
}
.content > .row > .img3 > a {
    display: block;
    width: 100%;
    height: 100%;
}