* {
    font-family: "arial";
	padding: 0px;
	margin: 0px;
}

.header .header_image {

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 255px;
}

.text_image {
    width: 300px;
    height: 300px;
    background-color: blue;
}

.text_block {
	min-height: 300px;
    padding: 25px;
    border-bottom: 3px solid black;
}

.text_header {
    font-size: 32px;
    font-weight: 600;
	margin-bottom: 10px;
}

.text_paragraph {    
    font-size: 18px;
}

ul {
	margin-left: 25px
}

td
{
	padding-left: 10px;
	padding-right: 10px;
}

p
{
	margin-bottom: 25px;
}